{
  "plugins": ["babel-plugin-macros"],
  "presets": [
    "@babel/env",
    "@babel/typescript",
    "@babel/react",
    [
      "babel-preset-gatsby",
      {
        "targets": {
          "browsers": [">0.25%", "not dead"]
        }
      }
    ]
  ],
  "env": {
    "test": {
      "plugins": ["require-context-hook"]
    }
  }
}
